@model ScrewIt.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Overview";
}

<h1 class="text-white">Overview</h1>



    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="text-white">
             <p>User is logged</p>
            <p>@Model.Id</p>
            <p>@Model.Name</p>
            <p>@Model.PhoneNumber</p>
            <p>@Model.RoleName</p>
        </h1>
       
     }else{
        <h1 class="text-white">
            <p>User is NOT logged</p>
        </h1>


        <div class="col col-md-10 offset-1">
            <label for="orderCode">Order Code</label>
            <input type="text" class="form-control" id="orderCode">
            <button class="btn btn-primary" onclick="checkOrderStatus()">Check Status</button>
        </div>
     }
  

@section Scripts{
<script>

    swal("Welcome to Screwit", " This website is for carpenters or clients that have some knowledge for making a furniture", "success");

    function checkOrderStatus() {
        var orderCodeInput = document.getElementById("orderCode");
        var orderCode = orderCodeInput.value;

        location.href = '/Orders/CheckOrderStatusWithCode?orderCode=' + orderCode;

    }
</script>

}